section {
    border: 1px solid black;
    border-radius: 10%;
    margin: 15px;
    width: 400px;
    height: 550px;
    padding: 6px;
    float: left;
    overflow: auto;
}
footer{
    clear: both;
}
h2,p,footer,header{
    text-align: center;
}