main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section {
    border: 1px solid black;
    border-radius: 10%;
    margin: 15px;
    width: 400px;
    height: 550px;
    padding: 6px;
    overflow: auto;
}
footer{
    clear: both;
}
h2,p,footer,header{
    text-align: center;
}